<div class="content-grid">
  <% @cities.each do |city| %>
  <%= link_to city_path(city) do %>
  <div class="content-block">
    <div class="content-image"><%= image_tag(city.picture_url, width: 600) if city.picture.present? %></div>
    <div class="content-title"><% city.name %></div>
  </div>
  <% end %>
  <% end %>
</div>
